* {
    text-align: center;
    background-image: url('Funtime.jpg');
    color: whitesmoke;
}


main {

    background-image: url('Funtime.jpg');
}

.box {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px ;
    background-color: whitesmoke;
}